*{
    padding: 0;
    font-family: "TTNorms2", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --azul: #042354;
    --azul-claro: #2841dd;
    --naranja: #fe8512;

    --texto-96: clamp(2.5rem, 1.8rem + 3.5vw, 6rem);
    --texto-72: clamp(2rem, 1.5rem + 2.5vw, 4.5rem);
    --texto-69: clamp(1.88rem, 1.39rem + 2.44vw, 4.31rem);
    --texto-40: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
    --texto-37: clamp(1.38rem, 1.19rem + 0.94vw, 2.31rem);
    --texto-35: clamp(1.25rem, 1.06rem + 0.94vw, 2.19rem);
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.pucp-landing-wrapper {
    position: relative;
}

.bloque1 {
    width: 100%;
    background-color: var(--azul-claro);
}

.bloque1Content__logo img {
    width: 3rem;
    height: auto;
}

.bloque1Content {
    position: relative;
}

.back-desktop {
    display: none;
}

.bloque1Content .back-mobile {
    width: 100%;
}

.bloque1Content__logo {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.bloque1Content__logo img {
    width: 6.5rem;
    height: auto;
}

.bloque1Content__data {
    position: absolute;
    bottom: 0;
    margin-bottom: 48vw;
    margin-left: 13vw;
}

.bloque1Content__dataTop h3 {
    font-size: 11vw;
    font-weight: 500;
    color: var(--naranja);
    font-family: "TTNorms2", serif;
}

.bloque1Content__dataTop h2 {
    position: relative;
    top: -4.3vw;
    font-size: 18vw;
    font-family: "Source Serif 4", serif;
    font-style: italic;
    color: white;
    margin-left: 8.8vw;
}

.bloque1Content__dataBottom {
    display: none;
}

.dataTop__inner {
    position: relative;
    top: -4vw;
    display: flex;
    column-gap: 1.5vw;
    /* background-color: red; */
}

.dataTop__innerLeft {
    color: white;
    font-size: 2rem;
    font-weight: 550;
    margin-top: .2rem;
}

.dataTop__innerRight {
   display: flex;
   flex-direction: column;    
   font-size: 1rem;
   color: white;
}

.dataTop__innerRight span:nth-child(1) {
    font-weight: 400;
}

.dataTop__innerRight span:nth-child(2) {
    background-color: #fe8512;
    font-size: .9rem;
    color: var(--azul);
    font-weight: 700;
    font-style: italic;
    font-family: "Source Serif 4", serif;
    padding: 0 .2rem;
}

.bloque2 {
    /* position: absolute; */
    z-index: 11;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    bottom: 0;
    left: 0;
    height: 3.5rem;
    gap: 20px;
    font-weight: 500;
    width: 100%;
    background: var(--naranja);
    display: none;
}

.textoContent{
    display: flex;
    align-items: center;
    height: 50%;
    gap: 20px;
    padding: 0 20px;
    /* color: white; */
}

.scrolling-content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.bloque3 {
    background-color: var(--azul-claro);
    height: auto;
    width: 100%;
    position: block;
    z-index: 2;
    /* padding: 3rem; */
    position: relative;
    padding: 3rem;
}

.bloque3Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.bloque3Container__content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.bloque3__data {
    display: flex;
    flex-direction: column;
    color: white;
}

.bloque3__data h2 {
    font-size: var(--texto-96);
    font-weight: 500;
}

.bloque3__data h2 span {
    font-family: "Source Serif 4", serif;
    font-style: italic;
}

.bloque3__data .subtitle {
    margin: 0;
    font-size: var(--texto-69);
    font-weight: 300;
}

.bloque3__data .subtitle span {
    font-weight: 400;
    color: var(--naranja);
}

.bloque3__data p {
    margin-top: 2rem;
    font-size: var(--texto-35);
    font-weight: 300;
}


.bloque3__fecha {
    display: flex;
    margin-top: 1.5rem;
    /* column-gap: 1rem; */
    justify-content: space-between;
    /* align-items: center; */
}

.bloque3__fecha span {
    text-align: center;
    font-size: var(--texto-35);
    display: flex;
    align-items: center;
    font-weight: 550;
}

.content__fecha {
    width: 1.5rem;
    display: flex;
}

.content__fecha span {
    width: .8rem;
    max-width: 50%;
    height: 100%;
    border-right: 2px solid var(--naranja);
    font-weight: 600;
}

.formulario {
    min-height: auto;
    border: 1px solid white;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: auto;

    min-height: fit-content;
    height: fit-content;
}

.formulario h2 {
    font-size: var(--texto-37);
    padding: 0;
    margin: 0;
    line-height: 1.6rem;
    text-align: center;
    color: white;
    font-weight: 500;
}

.formulario h4 {
    font-size: var(--texto-35);
    line-height: 1.3rem;
    text-align: center;
    color: white;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
    height: auto;
}

form .eleccion {
    display: flex;
    row-gap: .5rem;
    flex-direction: column;
}

form .eleccion h3 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-right: .5rem;
}

form .eleccion .form__election {
    display: flex;
    column-gap: 1rem;
}

.form__election div {
    display: flex;
    column-gap: .3rem;
}

.form__election div h4 {
    font-size: .8rem;
}

.double__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.double__form input,
.double__form select {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    height: 1.8rem;
    padding-left: .5rem;
    border-radius: .5rem;
}

.double__form input[type="text"] {
    color: white;
}

.double__form input::placeholder,
.double__form select::placeholder {
    color: rgba(255, 255, 255, 0.455);
}

.authorization {
    display: flex;
    column-gap: .5rem;
}

.authorization p {
    font-size: .8rem;
    font-weight: 500;
    color: white;
}

.content__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__button button {
    background-color: var(--naranja);
    color: var(--azul);
    border: none;
    height: 2.3rem;
    font-weight: 700;
    font-size: 1.1rem;
    width: 10rem;
    border-radius: 1rem;
}

.bloque3__disclaimer__inner {
    background-color: var(--azul);
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.bloque3__disclaimer__inner p {
    font-size: var(--texto-35);
    font-weight: 500;
    text-align: center;
    color: white;
}

.bloque3__disclaimer__inner p span {
    color: var(--naranja);
    font-weight: 500;
}

.bloque5 {
    background-color: var(--naranja);
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.bloque5Container {
    /* width: 18rem; */
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.bloque5Container .bloque5__title {
    font-size: var(--texto-96);
    font-family: "Source Serif 4", serif;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    color: white;
}

.bloque5Container .bloque5__title span {
    color: var(--azul);
    font-family: "Source Serif 4", serif;
    font-style: italic;
}

.bloque5__wrapper {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
}

.bloque5__item {
    display: flex;
    column-gap: .7rem;
}

.bloque5__item h3 {
    background-color: var(--azul);
    color: white;
    min-width: 5rem;
    text-align: center;
    font-weight: 300;
    font-size: .8rem;
    min-height: 2.3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.bloque5__item h4 {
    font-weight: 400;
    background-color: white;
    color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .3rem 0;
    text-align: center;
    border-radius: .7rem;
}

.bloque6 {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.bloque6Container {
    /* width: 20rem; */
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.bloque6__item {
    border-bottom: 1px solid var(--naranja);
    padding: 1rem 0;
}

.bloque5__title {
    font-size: var(--texto-96);
    line-height: 1.2;
    font-family: "Source Serif 4", serif;
    font-style: italic;
    text-align: center;
}

.bloque5__title span {
    font-family: "Source Serif 4", serif;
    color: var(--naranja);
}

.bloque6Item__pregunta {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    column-gap: 1rem;
}

.bloque6Item__pregunta h4 {
    display: flex;
    align-items: center;
    font-size: var(--texto-40);
}

.bloque6Item__pregunta span {
    font-size: var(--texto-40);
    font-weight: 600;
    color: var(--naranja);
    display: inline-block; /* Necesario para que se pueda animar el giro */
    transition: transform 0.3s ease;
}

.bloque6Item__respuesta {
    max-height: 0; /* Comienza con altura cero */
    overflow: hidden; /* Oculta el contenido que sobrepase la altura */
    opacity: 0; /* Empieza transparente */
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out; /* La animación */
}

.bloque6Item__respuesta p {
    padding: 1rem 0 0 0;
    font-size: var(--texto-37);
}

/* .close {
    display: none;
} */

.bloque7 {
    display: flex;
    padding: 3rem;
    background-color: var(--azul-claro);
    justify-content: center;
}

.bloque7Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: .5rem;
}

.bloque7Container p {
    color: white;
    font-weight: 400;
    font-size: var(--texto-37);
    text-align: center;
}

.bloque7Container p span {
    color: var(--naranja);
    font-weight: 600;
}

.bloque7Container h4 {
    font-weight: 600;
    font-size: var(--texto-40);
    color: white;
}

.bloque7Container button {
    margin-top: 1rem;
    background-color: var(--naranja);
    padding: .8rem 1.4rem;
    border: none;
    border-radius: 1.5rem;
    color: white;
    font-weight: 700;
    font-size: var(--texto-37);
}

footer {
    background-color: var(--azul);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

footer img {
    width: 10rem;
    height: auto;
}

@media (min-width: 768px) {
    .bloque3__disclaimer {
        display: flex;
        justify-content: center;
    }
    .bloque3__disclaimer__inner {
        width: auto;
    }
    .double__form {
        flex-direction: row;
        column-gap: 1rem;
    }
}

@media (min-width: 1020px) {
    
    .bloque1Content__logo {
        z-index: 2;
        justify-content: end;
        top: 0;
    }

    /* .bloque1Content__logo img {
        width: 9.5rem;
        margin-right: 4vw;
    } */
    .bloque1Content__logo img {
        width: 9.5rem;
        margin-right: 4vmax;
    }

    .bloque1Content .back-mobile {
        display: none;
    }

    .bloque1Content {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .bloque1Content__data {
        z-index: 3;
        width: 86vw;
        position: relative;
        display: flex;
        margin: 0;
        margin-bottom: -12vw;
        justify-content: space-between;
    } */

    .bloque1Content__data {
        z-index: 3;
        width: 86vmax;
        position: relative;
        display: flex;
        margin: 0;
        margin-bottom: -12vmax;
        justify-content: space-between;
    }

    .bloque1Content__dataTop h3 {
        font-size: 8vmax;
    }

    .bloque1Content__dataTop h2 {
        top: -3.5vmax;
        font-size: 11.3vmax;
        margin-left: 7vmax;
    }

    .bloque1Content__dataBottom {
        display: block;
        /* background-color: green; */
    }

    .bloque1Content .back-desktop {
        display: block;
        position: absolute;
        height: 100vh;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        /* max-width: 1920px; */
    }

    .dataTop__innerLeft {
        font-size: 4.5vmax;
        margin-top: 1.2vmax;
    }

    .dataTop__inner {
        column-gap: 1vmax;
    }

    .dataTop__innerRight span:nth-child(1) {
        font-size: 2.5vmax;
    }

    .dataTop__innerRight span:nth-child(2) {
        font-size: 2.5vmax;
    }

    
    .bloque1Content__dataBottom {
        width: 18vmax;
        display: block;
        /* width: max(18vmax, 240px); */
        /* background-color: green; */
    }

    .bloque1Content__dataBottom p {
        margin-top: 12vmax;
        margin-right: 1vmax;
        font-size: 2vmax;
        color: white;
        line-height: 1.4;
    }

    .bloque1Content__dataBottom p span {
        font-family: "Source Serif 4", serif;
        font-style: italic;
        font-size: 2.5vmax;
        font-weight: 600;
        color: var(--azul);
    }

    .bloque3 {
        display: flex;
        justify-content: center;
    }

    .bloque3Container,
    .bloque5Container,
    .bloque6Container, 
    .bloque7Container {
        width: 55rem;
    }

    .bloque3Container__content {
        flex-direction: row;
        column-gap: 5rem;
    }

    /* .bloque3__data h2 {
        font-size: 4rem;
    } */

    /* .bloque3__data .subtitle {
        font-size: 2.5rem;
    } */

    /* .bloque3__data p {
        font-size: 1.3rem;
    } */

    /* .bloque3__fecha span {
        font-size: 1.3rem;
    } */

    .bloque3__fecha {
        margin-top: 2.5rem;
    }

    .formulario {
        width: 85rem;
    }

    /* .bloque1Content__logo{
        display: none;
    }
    .bloque1Content__data{
        display: none;
    }
    .bloque1Content__dataBottom{
        display: none;
    } */

}

@media (min-width: 1200px) {
    .bloque1Content__logo img {
        width: 13.5rem;
        margin-right: 4vmax;
    }
    .bloque1Content__data {
        width: 91vmax;
    }
    .bloque3, 
    .bloque5, 
    .bloque6, 
    .bloque7{
        padding: 7rem 3rem;
    }

    .bloque3Container {
        row-gap: 3.5rem;
    }

    .bloque3Container,
    .bloque5Container, 
    .bloque6Container,
    .bloque7Container {
        width: 71rem;
    }

    .bloque6Container {
        row-gap: 2rem;
    }

    /* .bloque5Container .bloque5__title,
    .bloque6Container .bloque5__title {
        font-size: 3rem;
    } */

    .bloque3__data {
        max-width: 36rem;
    }

    .bloque5__wrapper {
        row-gap: 1rem;
    }

    .double__form input, .double__form select {
        height: 2.7rem;
    }

    .formulario {
        padding: 2.5rem 2rem;
    }

    .formulario h2,
    .formulario h4 {
        line-height: 2.2rem;
    }
    .bloque5__item h3 {
        width: 16rem;
        font-size: 1.8rem;
        height: 3.5rem;
    }
    .bloque5__item h4 {
        font-size: 1.6rem;
    } 
    /* .bloque6Item__pregunta h4 {
        font-size: 1.7rem;
    } */
    .bloque6Item__respuesta {
        /* max-height: 50rem; */
    }
    /* .bloque6Item__pregunta span {
        font-size: 3rem;
    }
    .bloque6Item__respuesta p {
        font-size: 1.7rem;
    } */

    .bloque6Item__respuesta p {
        padding: 2rem 0 1rem 0;
    }

    footer img {
        width: 14rem;
    }
}

@media (min-width: 1200px) and (min-height: 800px) {
    .bloque1Content__data {
        width: 91vmax;
    }
    .bloque1Content__logo img {
        margin-top: 3vmax;
    }
}

@media (min-width: 1280px) and (min-height: 630px) {
    .bloque1Content__data {
        width: 86vmax;
    }
}


@media (min-width: 1280px) and (min-height: 700px) {
    .bloque1Content__data {
        width: 87vmax;
    }
}

@media (min-width: 1280px) and (min-height: 780px) {
    .bloque1Content__data {
        width: 92vmax;
    }
}

@media (min-width: 1350px) {
    .bloque1Content__data {
        width: 85vmax;
    }
}

@media (min-width: 1350px) and (min-height: 800px) {
    .bloque1Content__data {
        width: 97vmax;
    }
}

@media (min-width: 1400px) {
    .bloque1Content__logo img {
        width: 15.5rem;
        margin-right: 3vmax;
    }
    .bloque1Content__data {
        width: 94vmax;
    }

    .bloque3 {
        padding: 5rem;
    }
    .bloque3Container, 
    .bloque5Container,
    .bloque6Container,
    .bloque7Container {
        width: 76rem;
    }
    /* .bloque3__data h2 {
        font-size: 4.5rem;
    } */
    /* .bloque3__data .subtitle {
        font-size: 2.9rem;
    } */
    /* .bloque3__data p {
        font-size: 1.5rem;
    } */
    /* .bloque3__fecha span {
        font-size: 1.5rem;
    } */
    .formulario {
        padding: 2.5rem 2rem;
    }

    .double__form input, .double__form select {
        height: 3rem;
    }
    /* .bloque3__disclaimer__inner p {
        font-size: 1.4rem;
    } */
}

@media (min-width: 1800px) {
    .bloque1Content__dataBottom p {
        margin-top: 11vw;
    }
}

@media (min-width: 1900px) {
    .bloque1Content__data {
        width:85vmax;
    }
}

@media (min-width: 1920px) {
    .bloque1Content__logo img {
        width: 18.5rem;
        margin-right: 5vmax;
    }
}

@media (min-width: 1920px) and (min-width: 1000px) {
    .bloque1Content__data {
        width:87vmax;
    }
}

@media (min-width: 2560px) {
    .bloque1Content__data {
        width:86vmax;
    }
    .bloque1Content__logo img {
        width: 17.3vmax;
    }
}